<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apollo.epos">

    <application
        android:name="com.apollo.epos.utils.RiderApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_apollo_rider_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_apollo_rider_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_logo" />

        <activity
            android:name=".activity.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/splash_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.navigation.NavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.NewOrderActivity"
            android:label="New Order"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.navigation.NavigationActivity" />
        </activity>
        <activity
            android:name=".activity.reports.ReportsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        </activity>
        <activity
            android:name=".activity.orderdelivery.OrderDeliveryActivity"
            android:label="New Order"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="apollo:orders:create-orders-form" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.NewOrderActivity" />
        </activity>
        <activity
            android:name=".activity.MapViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.trackmap.TrackMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ScannerActivity"
            android:label="Scan Barcode"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.navigation.NavigationActivity" />
        </activity>
        <activity
            android:name=".activity.CaptureSignatureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchProductActivity"
            android:label="Products List"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GuidelinesCompat.Light.DarkToolbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.navigation.NavigationActivity" />
        </activity>
        <activity
            android:name=".activity.CartActivity"
            android:label="CART"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GuidelinesCompat.Light.DarkToolbar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.navigation.NavigationActivity" />
        </activity>

        <activity
            android:name=".activity.CancelOrderActivity"
            android:label="Cancelling Order Items"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.navigation.NavigationActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCIfiXJzjIsYegXANaoSXbifkoK-ROb0oM" />

        <service android:name=".service.FloatingTouchService" />

        <service android:name=".service.MyFirebaseMessagingService">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--        <meta-data-->
        <!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
        <!--            android:resource="@drawable/ic_float" />-->
        <service
            android:name=".service.BatteryLevelLocationService"
            android:enabled="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.permission.gsf.permission" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>

